@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


body {
  background-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  --main-color: #283526;
  --primary-color: #888888;
  --button-background: #4B709E;
  --primary-button-background: #fe7649;
  --background-color: #eef2f7;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
  color: var(--main-color);
  font-weight: bolder;
}

h3,
h4 {
  font-family: 'Roboto Slab', serif;
  color: var(--main-color);
}

h3 {
  font-weight: 750;
  font-size: 2.2rem;
  line-height: 6rem;
  text-transform: capitalize;
}

p,
a,
li,
button {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  line-height: 3.6rem;
  text-transform: capitalize;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
}

/* Our Main Menu Style */

header {
  padding: 0 8.5rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  /* background-color: antiquewhite; */
}

header nav .left-side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

header nav .left-side-menu a img {
  width: 13rem;
  height: 5.5rem;
}

header nav .left-side-menu .sub-menu {
  display: flex;
  height: inherit;
}

header nav .left-side-menu .sub-menu a {
  margin-right: 3.8rem;
}

header nav .left-side-menu .sub-menu a li {
  font-size: 1.8rem;
  line-height: 3rem;
  transition: all 0.2s;
}

header nav .left-side-menu .sub-menu a li:hover {
  color: var(--button-background);
}

/* Right Side Menu */

header .right-side-menu {
  width: 50%;
  display: flex;
}

header .right-side-menu .sub-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header .right-side-menu .sub-menu a {
  margin-right: 5rem;
  padding: 0.6rem 2rem;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.7rem;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

header .right-side-menu .sub-menu a li:hover {
  color: var(--button-background);
}

header .right-side-menu .sub-menu button {
  background-color: var(--button-background);
  color: white;
  padding: 0rem 2rem;
  transition: background-color 0.5s;
  position: relative;
  z-index: 9;
}

header .right-side-menu .sub-menu button:hover {
  background-color: #20426c;
}


/* First Hero Section Styling */

.main-hero-section {
  padding: 0 8.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.main-hero-section .hero-left {
  width: 100rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: right;
}



.main-hero-section h1 {
  width: 55rem;
  font-size: 5.2rem;
  line-height: 6rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

.main-hero-section p {
  margin-bottom: 3.5rem;
  width: 40rem;
  font-size: 1.5rem;
}

.main-hero-section a img {
  width: 12rem;
  height: 3.5rem;
}

.main-hero-section .appstore {
  height: 3.9rem;
  margin-bottom: -0.4rem;
}

.main-hero-section .button-group a:first-child {
  margin-right: 2.5rem;
}

/* Right Hero Section Styling */

.main-hero-section .hero-right {
  width: 47%;
  height: 100vh;
  background: var(--background-color);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 60px 20px 0px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hero-section .hero-right img {
  width: 66rem;
  height: 56rem;
  margin-right: 28rem;
}



/* Section Hero Section Styling */
.common-section {
  /* background-color: antiquewhite; */
  width: 100%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 8.5rem;
  margin-top: 12rem;
  margin-bottom: 3rem;
}

.common-section .left-side {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.common-section .left-side figure {
  width: 15rem;
  height: 50rem;
  background: #f3f9ff;
  border-radius: 2rem;
}

.common-section .left-side img {
  width: 35rem;
  height: 45rem;
  border-radius: 2rem;
  margin-left: 7rem;
  margin-top: 2.5rem;
}

#section2-right {
  position: relative;
  right: -6rem;
}

.common-section .right-side {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.common-section .right-side h2 {
  width: 40rem;
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  margin-bottom: 2.3rem;
}

.common-section .right-side p {
  width: 36.3rem;
  font-size: 1.5rem;
  margin-bottom: 2.3rem;
}

.common-section .right-side .common-button {
  padding: 0.3rem 3rem;
  margin-right: 1.5rem;
  background-color: var(--primary-button-background);
  color: #fff;
  transition: background-color 0.3s;
}

.common-section .right-side .common-button:hover {
  background-color: #dc6740;
}

.common-section .right-side button:last-child {
  padding: 0.3rem 3rem;
  background-color: transparent;
  color: var(--main-color);
  transition: background-color 0.3s;
}


.common-section .right-side .common-button-normal:hover {
  background-color: var(--primary-button-background);
  color: #fff;
}


/*Third Section Hero Section Styling -------------> */

.section-third {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  padding: 2rem 3rem;
}

.section-third h2 {
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.section-third>p {
  width: 40rem;
}

.section-third p {
  height: 6rem;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
}

.section-third .card-container {
  width: 100%;
  height: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.8rem;
  padding: 2rem;
  padding-left: 3.5rem;
}

.section-third .card-container .card-1,
.card-2,
.card-3 {
  width: 90%;
  margin-top: 2rem;
  padding: 3rem 1.5rem;
  text-align: center;
  transition: all 0.3s linear;
  border-radius: 2rem;
}

.card-1 img,
.card-2 img,
.card-3 img {
  width: 12rem;
  height: 12rem;
  transition: all 0.3s;
}

.card-1 img,
.card-2 img {
  height: 13rem;
}

.section-third .card-container .card-3 {
  background-color: #fff;
  box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}

.card-1:hover,
.card-2:hover {
  background-color: #fff;
  box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.25);
}


.card-1:hover>img,
.card-2:hover>img,
.card-3:hover>img {
  transform: rotate(360deg);
}

/*fourth Section Hero Section Styling -------------> */
#section-four {
  padding: 3rem 10rem;
}

#section-four .left-side img {
  width: 100%;
  height: auto;
  margin: 0;
}


/* <-------------------- Fifth Hero Section Styling--------------------> */
#section-five {
  margin-top: 0rem;
}

#section-five .left-side {
  width: 100%;
  height: auto;
}

#section-five .left-side img {
  margin-left: 0;
  width: 95%;
  height: auto;
}

#section-five .right-side {
  width: 100%;
  height: auto;
  justify-content: center;
}

#section-five .right-side h2 {
  width: 35rem;
  font-weight: bolder;
  font-size: 3.4rem;
  line-height: 4.2rem;
  color: rgb(78, 78, 78);
}

#section-five .right-side h3 {
  text-transform: none;
  font-size: 1.9rem;
  color: rgb(78, 78, 78);
}

#section-five .right-side p {
  margin-bottom: 0.5rem;
  width: 35rem;
}

#section-five .bi-heart-fill {
  color: #f75d5d;
}

/*<-----Footer Section ---------- > */

footer {
  width: 100%;
  height: auto;
  padding: 5rem 10rem;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer img {
  width: 11rem;
  height: 5rem;
}

footer h4 {
  font-size: 1.8rem;
}

footer a {
  font-size: 1.3rem;
  line-height: 2.1rem;
}

/* Socail Media Section */

.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.icon-bar>a {
  width: 18rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #fff;
  padding: 0.4rem;
  transition: all 0.3s linear;
  transform: translateX(-15.2rem);
}

.icon-bar>a:hover {
  transform: translateX(0rem);
}

#animation {
  padding-left: 1rem;
  font-size: 2rem;
  animation-name: letszoom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

@keyframes letszoom {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.facebook {
  background-color: #3b5999;
}

.telegram {
  background-color: #00aced;
}

.instagram {
  background-color: #e4405f;
}

.linkedin {
  background-color: #0077b5;
}

.youtube {
  background-color: #cd201f;
}

/* <-------------------------------- Media Queries -------------------->*/

@media (max-width:1180px) {
  html {
    font-size: 63.5%;
  }

  .main-hero-section .hero-right img {
    margin-right: 14rem;
  }

  #section-two {
    margin-bottom: 0rem;
    margin-top: 0rem;
    padding-top: 5rem;
  }
}


/* Tablet Devices */
@media (max-width:980px) {

  html {
    font-size: 57%;
  }

  header,
  .main-hero-section,
  .common-section {
    padding: 0 5.5rem;
    width: 100%;
  }

  .main-hero-section {
    padding-right: 2rem;
  }

  .main-hero-section .hero-right img {
    width: 49rem;
    height: 54rem;
  }

}




@media only screen and (max-width: 768px) {

  html {
    font-size: 50%;
  }

  header,
  .common-section,
  .main-hero-section {
    padding: 0rem 1.5rem;
    width: 100%;
  }

  header nav {

    padding-top: 1rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;

  }

  header nav .left-side-menu {
    width: 100%;
    display: block;
    order: 2;
  }

  header nav .left-side-menu img {
    width: 100%;
    display: block;
  }

  header nav .left-side-menu .sub-menu {
    width: 100%;
    margin-left: 4rem;
    padding-top: 0.2rem;
  }

  header nav .left-side-menu .sub-menu a {
    margin-right: 5.2rem;
  }

  header nav .left-side-menu .sub-menu a li {
    font-size: 1.7rem;
  }

  header nav .right-side-menu {
    width: 100%;
    order: 1;
  }

  header nav .right-side-menu .sub-menu {
    padding: 0.6rem 0rem;
  }

  header nav .right-side-menu .sub-menu a {
    width: 10rem;
    height: 3.3rem;
    border: 0.1rem var(--main-color) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    text-transform: uppercase;
  }

  header nav .right-side-menu .sub-menu button {
    text-transform: uppercase;
  }

  /* Main Hero Section Style */

  .main-hero-section {
    /* background-color: bisque; */
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-flow: column;
  }

  .main-hero-section .hero-right {
    order: 1;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: transparent;
  }

  .main-hero-section h1 {
    width: 35rem;
    font-size: 4.3rem;
    line-height: 4.8rem;
    margin-bottom: 1.5rem;
  }

  .main-hero-section .hero-left p {
    width: 40rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .main-hero-section .hero-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2.8rem;
  }

  .main-hero-section .hero-left {
    order: 2;
    width: 100%;
    margin: 0 auto;
    height: 50%;
    padding-top: 14rem;
    padding-left: 10rem;
  }


  .main-hero-section .button-group {
    margin-bottom: 20rem;
    padding-bottom: 2rem;
    /*Change After Some time*/
  }

  .main-hero-section .button-group img {
    width: 11rem;
    height: 3.5rem;

  }

  .main-hero-section .button-group .appstore {
    width: 11rem;
    height: 3.8rem;

  }


  .main-hero-section .hero-right img {
    width: 140%;
    height: auto;
    margin: 0 auto;
    margin-top: 3.5rem;
    margin-bottom: -3.5rem;
  }

  #section2-right {
    position: relative;
    right: 0rem;
    margin-bottom: 1rem;
  }

  .common-section .right-side h2 {
    margin-bottom: 1rem;
  }
}

/* Smaller Phones */
@media (max-width:450px) {

  html {
    font-size: 47%;
  }

  .main-hero-section {
    height: 83vh;
    margin-bottom: 0rem;
  }

  .main-hero-section .hero-left {
    padding-top: 25rem;
    padding-left: 6rem;
  }

  .main-hero-section .hero-right img {
    padding-top: 3rem;
  }


  .section-third .card-container {
    padding-left: 4rem;
  }

  .common-section .left-side figure img {
    height: 45rem;
  }

  /* ----- */

  .common-section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    /* background-color: aquamarine; */
  }

  .common-section .left-side figure {
    height: 50rem;
  }

  .common-section .left-side figure img {
    height: 50rem;
    margin-left: 5rem;
    width: 35rem;
  }

  .common-section .right-side {
    margin-top: 2rem;
    justify-content: start;
    height: auto;
  }

  .common-section .right-side h2 {
    font-size: 4rem;
    line-height: 5rem;
    width: auto;
  }

  #section2-right {
    padding: 5rem 0;
  }

  #section-two {
    padding-top: 3rem;
  }

  #section-two .left-side {
    padding: 0 6rem;
  }

  #section-two .right-side {
    padding: 2rem 6rem;
    padding-top: 3.5rem;
  }

  .main-hero-section .hero-right img {
    margin-right: 5rem;
  }

  .section-third {
    height: auto;
    padding: 2rem 5.5rem;
    padding-bottom: 4rem;
  }

  .section-third h2 {
    width: auto;
    font-size: 4rem;
    line-height: 5rem;
  }

  .section-third .card-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    gap: 4px;
  }

  .card-1 img,
  .card-2 img,
  .card-3 img {
    width: 11rem;
    height: 11rem;
  }

  #section-four {
    padding: 3rem 4rem;
    margin: 2rem 0;
    padding-bottom: 4rem;
  }

  #section-four .right-side {
    order: 2;
    padding-left: 2.5rem;
  }

  #section-four .left-side img {
    width: 40rem;
    height: auto;
  }

  #section-five {
    padding: 3rem 4rem;
    padding-bottom: 4rem;
  }

  #section-five .right-side {
    order: 2;
    padding-left: 2.5rem;
  }

  #section-five .left-side {
    padding-left: 2rem;
  }

  #section-five .left-side img {
    width: 37rem;
    height: auto;
  }

  #section-five .right-side {
    padding: 1rem 1rem;
    padding-left: 2rem;
    margin-top: 3rem;
  }

  footer {
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: none;
  }

  #footer-logo {
    padding: 1rem;
  }

  #footer-logo p {
    font-size: 1.5rem;
  }


}